<div class="container">
    <div class="col-md-6">
        <h1 class="text-center text-inf">Add Teacher page </h1>
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label for="">Teacher Name: {{invalidMassege}}</label>
                    <input type="text" #userName="ngModel" required minlength="3" [(ngModel)]="object.name"
                        class="form-control">
                    <div *ngIf="userName.invalid && userName.touched" class="alert alert-info">
                        plese enter valid
                    </div>
                </div>

                <div class="form-group">
                    <label for="">Teacher course:{{invalidMassege}}</label>
                    <input type="text" #courseName="ngModel" required [(ngModel)]="object.course" class="form-control">
                    <div *ngIf="courseName.invalid && courseName.touched" class="alert alert-info">
                        plese enter course

                    </div>

                </div>

                <button (click)="save(userName,courseName)" class="btn btn-info btn-block w-50 mx-auto"> Send
                    Data </button>
            </div>


        </div>
    </div>

</div>


<!-- <div *ngIf="courseName.invalid && userName.invalid">
                    <button disabled class="btn btn-info btn-block w-50 mx-auto"> Send Data</button>
                </div>  -->
<!-- <div *ngIf="courseName.valid && userName.valid"> 
                </div> -->